.header{
  font-size:30px;
}

.content{
  background-color: #3f48cc;
  grid-template-rows: minmax(100px, 300px);
}

.recomended {
}

.info {
}

.footer {
  background-color: #99d9ea;
  border-radius: 0px;
  font-size:30px;
}

.icon {
    grid-column: 1;
    grid-row: 1/3;
    padding:0;
}

.title {
    /* background-color: #3f48cc;*/
    grid-column: 2;
    grid-row: 2;
}
