.mycontent{
    display: grid;
    grid-template-columns: 300px auto;
    height: 500px;
    padding: 10px;
    grid-template-areas:
      "process container"
}

@media screen and (max-width: 800px) {
  .mycontent{
    grid-template-areas:
      "container container"
      "process process"
  }
}

.container{
    grid-area: container;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.process{
    grid-area: process;
    background-color: white;
    padding: 15px;
}
